# database connection string
MONGODB_URI=

# secret key used for authentication
AUTH_SECRET=

# serverless database used for caching and dashboard analytics (experimental)
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=